<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Cleaner Tomorrow</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>

</head>

<body class="bg-cover bg-no-repeat bg-center background-image flex flex-col items-center">
    <nav class=" text-white">
    <a class="ml-10" href="/">Home</a>
    <a class="ml-10" href="/about">About</a>
  </nav>

    <!-- TODO: move control to hbs partials, move script to separate script file. -->

    <div class="h-full container mx-auto px-4" id="home" style="display: block;">
        <div class="h-full text-white flex items-center flex-col pt-12">
            <div class="flex flex-row justify-center items-center text-white font-bold" id="about">
    <div class="flex flex-col justify-center items-center">
    <p class="mt-10 w-1/2 text-center">CO2 emissions are the primary driver of global climate change, 
        and with the increasing demand for electricity, 
        the need for sustainable practices is more crucial than ever. 
        By actively lowering your CO2 emissions, you become a part of the solution, 
        paving the way for a greener and healthier tomorrow. </p>
        <p class="mt-10 w-1/2 text-center">
            With our Energy Guide, we empower you to make a positive impact easily. 
            Discover the optimal times for environmentally friendly energy generation in your area, 
            and with small adjustments to your daily routine, 
            contribute to a significant positive change for the environment. 
        </p>
        <p class="mt-10 w-1/2 text-center">
            Here is how it works: </br>
Choose your control area in the graphic below to receive the recommendation specific to your region. 
Whether it's charging your electric car, running your washing machine, dryer, or other appliances, 
simply shift the usage to coincide with high renewable energy generation in your control area. 
        </p>
         <p class="mt-10 w-1/2 text-center">
            Data 
Our recommendation algorithm analyzes real-time data of wind and solar generation from the 
<a href="https://www.smard.de/en" target="_blank">German Federal Network Agency</a> to provide you with regional recommendations.  
        </p>
        <p class="mt-10 w-1/2 text-center mb-10">
            You can also stay effortlessly informed by subscribing to receive your daily recommendations via email. 
            Enter your email address below and be a part of the movement towards a cleaner, greener future. 
        </p>
        </div>
            </div>
</div>
</body>

   