
<body class="bg-cover bg-no-repeat bg-center background-image flex flex-col items-center">

    <!-- TODO: move control to hbs partials, move script to separate script file. -->

    <div class="h-full container mx-auto px-4" id="home" style="display: block;">
        <div class="h-full text-white flex items-center flex-col pt-12">
            
            <div class="flex flex-row justify-center items-center text-white font-bold" id="about">
    <div class="flex flex-col justify-center items-center">
        <div>
            <p class="mt-5">Kontakt: Dr. Alona Zharova</p>
            <p class="mt-5">E-Mail: alona.zharova@hu-berlin.de</p>
            <p class="mt-5">Tel: +49 30 2093 99544</p>
            <p class="mt-5">Fax: +49 30 2093 99541</p>
        </div>
    
        </div>
            </div>
</div>
</div>
</body>

   