<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Cleaner Tomorrow</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    
    <header>
        <nav class="flex flex-row justify-center items-center text-white mt-10">
          <a id="home" href="/" class="">Home</a>
          <a id="about" class="ml-10" href="/about">About</a>
      </nav>
    </header>
    <div class="flex flex-row justify-center items-center">

    {{{body}}}
    </div>
    
  <footer class="footer ">
    <div class="overlay"></div>
    <div class="flex flex-row justify-center items-center text-white mb-10 mt-10">
      <a href="https://www.hu-berlin.de/de/hu/impressum" target="_blank">Impressum</a>
      <a class="ml-10" href="https://www.hu-berlin.de/de/hu/impressum/datenschutzerklaerung" target="_blank">Datenschutz</a>
      <a id="contact" class="ml-10 " href="/kontakt">Kontakt</a>
    </div>
  </footer>
  
  </body>

</html>