<body
  class="bg-cover bg-no-repeat bg-center background-image flex flex-col items-center"
>
<div class=" container mx-auto px-4" style="display: block;">
    <div class="h-full w-full text-white flex justify-center items-center flex-col pt-12">
            <div class="flex items-center justify-center flex-col md:flex-row height: 100vh" style="height: 100vh;">
    
    <div class="h-full flex items-center justify-start flex-col">
        <h1 class="text-5xl font-bold mb-4">You successfully unsubscribed!</h1>
</div>
</div>
</div>
</div>
</body>